@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
  }
  
  header img {
    width: 100px;
  }
  
  header h1 {
    font-size: 2rem;
    margin-top: 10px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #order-info, #buyer-info {
    margin-top: 20px;
  }
  